@charset "UTF-8";

#logo{
    float:right;
}
nav,header,footer{
    background-color:#CF5151;
}
.redes_sociais{
    margin-right:50px;
}
body{
    background-color: azure;
}
footer, header{
    color: #FFF;
}
aside,article{
    padding:10px;
}
#reforminha{
    margin-top: 10px;
}