@charset "UTF-8";


/* Geral */
nav,header,footer{
    background-color:#CF5151;
}
.redes_sociais{
    margin-right:50px;
}
body{
    background-color: azure;
}
footer, header{
    color: #FFF;
}
aside,article{
    padding:10px;
}
.espacinho-imagem{
    padding-top:25px;
}



/* fontes */

nav, footer{
    font-family: 'Bebas Neue';
}
h1{
    font-family: 'Fragment Mono', monospace;
}
article, section{
    font-family: 'Anek Devanagari', sans-serif;
}

